<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css' integrity='sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==' crossorigin='anonymous'/>
        {% endblock %}

        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_product')}}">demoPanier</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data--bs target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_product')}}">Liste des produits</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link position-relative" href="{{ path('app_cart') }}"><i class="fa-solid fa-cart-shopping"></i> 
                            {% set nbProduits = app.session.get('qt') %}
                            {% if nbProduits > 0 %}
                                <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-success">{{ nbProduits }}</span>
                            {% endif %}
                            
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container my-5" style="min-height: 90vh;">
        {% block body %}
        
        {% endblock %}
        </div>

        <footer class="container-fluid bg-dark navbar-dark text-center" style="height: 60px; color: #FFF;">
        <p style="padding: 15px;"><i class="fa fa-copyright" aria-hidden="true"></i> {{ "now" | date('Y') }} - DemoPanier - Tous droits reservés</p>
        </footer>
        
        {% block javascripts %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js' integrity='sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img==' crossorigin='anonymous'></script>
        {% endblock %}
    </body>
</html>
